<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <ul class="nav" style="margin-left: 200px;">
                <li class="nav-item">
                  <a class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"(click)="terms()">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="privacy()">Privacy Policy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"(click)="shipping()">Shipping Policy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"(click)="cancellation()">Cancellation &Refund_Policy</a>
                </li>
      
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Testimonials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Help Center</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Agents</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Our Services</a>
                </li> -->
              </ul>
              <span>All trademarks, logos and names are properties of their respective owners. Copyright © 2024 - All rights reserved.</span>

        </div>
    </div>
</footer>